* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: brown;
  position: relative;
}

.country-card {
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  padding-bottom: 50px;
  transform: translate(-50%, 50%);
  background-color: #fff;
  border-radius: 50px;
}

.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

input {
  margin: 50px 50px 20px 50px;
  padding: 15px;
  text-align: center;
  font-size: 20px;
}

button {
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color: #3d94f6;
  border-radius: 6px;
  border: 1px solid #337fed;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 25px;
  margin-bottom: 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1570cd;
}
button:hover {
  background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  background-color: #1e62d0;
}
button:active {
  position: relative;
  top: 1px;
}

.flag-bar {
  text-align: center;
}

.flag-bar img {
  width: 150px;
  height: 100px;
  border: solid 1px #000;
}

.country-name {
  padding: 20px;
}

.country-info {
  display: block;
  margin-top: 50px;
  text-align: left;
}

.capital {
  margin: 0 0 20px 20px;
}

.continent {
  margin: 0 0 20px 20px;
}

.population {
  margin: 0 0 20px 20px;
}

.currency {
  margin: 0 0 20px 20px;
}

.language {
  margin: 0 0 0 20px;
}
